$base-color: #535F5E;
$base-color-alpha: rgba(3, 19, 34, 0.5);
$primary-color: #071A18;
$secondary-color: #2A9D8F; 
$col-custom-1: #FF8A00;
$col-custom-2:  #CCD0DB;
$white: #ffffff;
$black: #000;





// media queries
$desktop-xl-breakpoint: 1700px;
$desktop-breakpoint: 1200px;
$tab-breakpoint: 768px;
$mobile-breakpoint: 576px;